<div class="container text-center mt-5">
  <section class="intro">
    <p class="intro-text">Bem-vindo ao nosso sistema de gerenciamento de doadores e doações.</p>
  </section>
  
  <section class="button-section">
    <div class="button-group">
      <button routerLink="/lista-doador" class="btn btn-action">Ir para Lista de Doadores</button>
      <button routerLink="/cadastro" class="btn btn-action">Cadastrar Novo Doador</button>
      <button routerLink="/doacao/:id" class="btn btn-action">Registrar Doação</button>
    </div>
  </section>
</div>
