
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fa;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro {
  margin-bottom: 40px;
}

.intro-text {
  font-size: 1.8rem;
  color:#c62828 ;
  font-weight: 600;
  line-height: 1.5;
}


.button-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


.btn-action {
  background-color: #e74c3c; 
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
  width: 100%;
  max-width: 300px;
}

.btn-action:hover {
  background-color: #c0392b; 
  transform: translateY(-4px);
}

.btn-action:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.5); 
}


@media (max-width: 768px) {
  .intro-text {
    font-size: 1.5rem;
    text-align: center;
  }

  .button-group {
    flex-direction: column;
    gap: 15px;
  }

  .btn-action {
    padding: 12px 25px;
    font-size: 0.9rem;
  }
}
